/* Mulish font*/
<style>
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,700;1,700&display=swap')
</style>
/*shared styles*/
*{
    font-family: "Mulish", sans-serif;
    font-weight: 700px;
    font-style: normal;

}
.btn-primary{
    width: 120px;
    height: 40px;
    border-radius: 8px;
    color: #FFF;
    background-color:  #FF5400;
}

/*header-related styles*/

header{
    padding: 20px 20px 50px 50px;
}

.header-container{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
nav div .header-tittle{
    font-size: 36px;
    margin-left: 10px;
}
.header-tittle span{
    color: #FF5400;
}
.header-image{
    width: 45px;
    height: 50px;
    margin-right: 5px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
    padding: 10px 0px;
    font-size: 20px;


}
nav li a{
    text-decoration: none;
    color: #424247;
}
nav li span{
    color: #FF5400;
}
/* section related styles*/
.explore{
    display: flex;
    align-items: center;
}
 section{

 
    
   
    text-align: center;
    margin: 0px auto;
    font-size: 20px;
    background-image: 
 linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
 background-size: cover;
background-blend-mode: saturation;
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    flex-shrink: 0;border-radius: 16px;
    padding: 0px 20px 0px 50px;
    border-radius: 16px;
      
     
      

}
.banner-title, .banner-description{
    padding-top: auto;
    text-align: center;
    color: #FFF;
    
}
div > input{
    
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background: #FFF;
    padding: 5px;
    margin-bottom: 5px;
    color: rgba(19, 19, 24, 0.50);

text-align: center;
}
.selector{
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 8px; 
    background: #FFF;
padding: 5px;
margin-bottom: 5px;
color: rgba(19, 19, 24, 0.50);
}


/* 3rd part related styles*/
.popular{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    margin-right: 20px;
    width: 80%;
    margin: 0 auto;
    
}
.popular-image{
    width: 540px;
    height: 550px;
    border-radius: 16px;
    margin-left: 10px;
   
background: lightgray 50% / cover no-repeat;
}
.popular-items > h3{
    color: #131318;
    font-size: 40px;
    margin-right: 250px;
}
.popular-items > p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 15px;
    margin-right: 50px;


}
.popular-descripion{
    margin: 0 auto;
}
div ul li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 15px;
    margin-right: 120px;
}

/* Destination related styles*/

div > .destination-heading{
    text-align: center;
    
}
.destination-tittle{
    color: #131318;
    font-size: 40px;

}
.destination-paragraph{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    width: 643px;
    margin-left: 28%;
}

.country-1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
    gap: 24px;
    
    font-size: 28px;
    align-items: center;
    color: #FFF;
    padding: 130 220 130 220;
    width: 80%;
    margin: 0 auto;

    
}
.maldives{
    background-image: url(Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    width: 50%;
 
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.indonesia{
    background-image: url(Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    width: 50%;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.country-2{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 16px;
    

}
.Srilanka{
    width: 365px;
    height: 300px;
    gap: 20px;
}
.North-america{
    width: 450px;
    height: 300px;
    
}
.kashmir{
    width: 250px;
    height: 300px;
    gap: 20px;
}
.country-3{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 16px;

}
.bangladesh{
    width: 450px;
    gap: 20px;
    height: 300px;
    
}
.bandarban{
    height: 300px;
    width: 650;
}
/*personal section related styles*/

div{
    text-align: center;
    
    

    
}

div > h2{
    color: #131318;
     font-size: 40px;

}
div p{
    color: rgba(19, 19, 24, 0.70);
    width: 350px;
    font-size: 20px;
   margin-left: 400px;

.facilities{
    display: flex;
    
}
}
 .facilities-service{
    border: 2px solid saddlebrown;
    margin: 0 auto;
    text-align: left;
    margin-right: 10px;


    

}
.facilities-image{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-right: 10px;
}
.facilities-details{
    text-align: left;
}

.facilities-service-2{
    border: 2px solid orange;
    text-align: left;
}
.facilities-image-2{
    width: 50px;
    height: 50px;
}
