/* Mulish font*/
<style>
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,700;1,700&display=swap')
</style>
*{
    font-family: "Mulish", sans-serif;
    
    font-weight: 700;
    font-style: normal;

}

/*header-related styles*/

header{
    padding: 20px 50px 50px 50px;
}

.header-container{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
nav div .header-tittle{
    font-size: 36px;
    margin-left: 10px;
}
.header-tittle span{
    color: #FF5400;
}
.header-image{
    width: 45px;
    height: 50px;
    margin-right: 5px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
    padding: 10px 0px;
    font-size: 20px;


}
nav li a{
    text-decoration: none;
    color: #424247;
}
nav li span{
    color: #FF5400;
}

